body {
  position: relative;
  top: 12.33vh;
  width: 76vw;
  height: 185.33vh;
}

header {
  padding: 0 3.5vw;
  text-align: center;
}

main {
  position: relative;
  top: 10vh;
}

header h1 {
  font-size: 3.5vh;
  font-weight: 400;
}

header h2 {
  font-size: 3.6vh;
  font-weight: 600;
}

header p {
  position: relative;
  top: 3vh;
  font-size: 2.35vh;
  line-height: 1.5;
  font-weight: 200;
}

.card-columns .card {
  margin-bottom: 3vh;
}

.card h1{
  font-size: 3.33vh;
  font-weight: 600;
}

.card p{
  font-size: 2.1vh;
  padding: 0 3.5vw;
}