body {
  position: relative;
  top: 12.33vh;
  width: 76vw;
  height: 185.33vh;
}

header {
  text-align: center;
}

main {
  position: relative;
  top: 9vh;
}

header h1 {
  font-size: 3.45vh;
  font-weight: 400;
}

header h2 {
  font-size: 3.6vh;
  font-weight: 600;
}

header p {
  position: relative;
  top: 3vh;
  font-size: 2.35vh;
  line-height: 1.5;
  font-weight: 200;
}

.card-columns .card {
  border-top-width: 0.5vh;
  margin-bottom: 3.75vh;
  height: 29.92vh;
}

.card h1{
  margin-top: 2vh;
  font-size: 3.33vh;
  font-weight: 600;
  padding-left: 6vw;
  padding-right: 6vw;
}

.card p{
  font-size: 2.1vh;
  padding-left: 6vw;
  padding-right: 6vw;
}

.card1 {
  border-top-color: hsl(180, 62%, 55%);
}

.card2 {
  border-top-color: hsl(0, 78%, 62%);
}

.card3 {
  border-top-color: hsl(34, 97%, 64%);
}

.card4 {
  border-top-color: hsl(212, 86%, 64%);
}

.icon, .icon img{
  margin-top: 1.25vh;
  margin-left: auto;
  margin-right: 5vw;
  width: 15vw;
  height: 7.84vh;
}

@media only screen and (min-width: 576px) {

  body {
    top: 8.5vh;
    width: 80vw;
    height: 88.5vh;
  }

  header {
    padding-left: 4vw;
    padding-right: 4vw;
    height: 20vh;
  }

  header h1{
    font-size: 4.25vh;
  }

  header h2{
    font-size: 4.33vh;
  }

  header p{
    font-size: 2.22vh;
    top: 2vh;
  }

  main {
    top: 6vh;
    height: 62vh;
    width: 80vw;
  }

  .card-columns{
    column-count: 2;
    height: 62vh;
  }

  .card-columns .card{
    position: relative;
    margin-bottom: 3.5vh;
    height: 27.5vh;
    width: 37.75vw;
  }

  .card h1 {
    padding-left: 2vw;
    font-size: 2.5vh;
  }

  .card p {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vh;
  }

  .icon, .icon img {
    margin-top: 0.25vw;
    margin-left: auto;
    margin-right: 2vw;
    height: 9vh;
    width: 4.51vw;
  }

}

@media only screen and (min-width: 1024px) {

  body {
    top: 8.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 88.5vh;
  }

  header {
    padding-left: 15vw;
    padding-right: 15vw;
    height: 20vh;
  }

  header h1{
    font-size: 4.25vh;
  }

  header h2{
    font-size: 4.33vh;
  }

  header p{
    padding-left: 7vw;
    padding-right: 7vw;
    font-size: 2.22vh;
    top: 2vh;
  }

  main {
    top: 6vh;
    height: 62vh;
    width: 80vw;
  }

  .card-columns{
    column-count: 3;
    height: 62vh;
  }

  .card-columns .card{
    margin-bottom: 3.5vh;
    height: 27.5vh;
    width: 24vw;
  }

  .card h1 {
    padding-left: 2vw;
    font-size: 2.5vh;
  }

  .card p {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vh;
  }

  .card1 {
    margin-top: 12.5vh;
  }

  .card4 {
    margin-top: 12.5vh;
  }

  .icon, .icon img {
    margin-top: 0.25vw;
    margin-left: auto;
    margin-right: 2vw;
    height: 9vh;
    width: 4.51vw;
  }

}